# --- Godot 4+ spécifique ---
# On ignore le dossier de cache principal (indispensable pour éviter tes conflits)
**/.godot/

# Anciens dossiers de cache (Godot 3) au cas où
**/.import/

# --- Paramètres utilisateur et Éditeur ---
# On ignore les réglages locaux qui changent selon la machine
**/project_metadata.cfg
**/.editor_settings-*.tres
**/editor_settings.tres
**/*.tmp

# --- Exports et Builds ---
# On ignore les dossiers où tu génères tes exécutables (.exe, .apk, etc.)
**/build/
**/exports/
**/bin/
**/*.window.*
**/*.app

# --- Fichiers Système ---
.DS_Store
Thumbs.db
desktop.ini

# --- Outils (VS Code / JetBrains) ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace